.level1 { background-image:url(./level1.png); top: -.1rem; }
.level11 { background-image:url(./level11.png); top: -.1rem;}
.level15 { background-image:url(./level15.png); top: -.1rem;}
.level30 { background-image:url(./level30.png); top: -.2rem;}
.level31 { background-image:url(./level31.png); top: -.2rem;}
.level32 { background-image:url(./level32.png); top: -.2rem;}
.level34 { background-image:url(./level34.png); top: -.2rem;}
.level35 { background-image:url(./level35.png); top: -.2rem;}
.level39 { background-image:url(./level39.png); top: -.2rem; }
.level130 { background-image:url(./Administration_@3x.png); }
.level_se { background-image:url(./service_@3x.png); }

.the_level .bg1 { background-image: url(./level40_3x.png); /*background: #00cc95;*/  width: 80%; height: 70%;}
.the_level .bg2 { background-image: url(./level80_3x.png); /*background: #00aadc;*/ }
.the_level .bg3 { background-image: url(./level120_3x.png); /*background: #ff7300;*/ }
.the_level .bg4 { background-image: url(./level160_3x.png); /*background: #c61fec;*/ }
.the_level .bg5 { background-image: url(./level200_3x.png); /*background: #f50095;*/}
.the_level .bg6 { background-image: url(./level240_3x.png); /*background: #f50019;*/ }